# Unreal Engine file types.
*.uasset filter=lfs diff=lfs merge=binary -text lockable
*.umap filter=lfs diff=lfs merge=binary -text lockable
*.upk filter=lfs diff=lfs merge=binary -text lockable
*.udk filter=lfs diff=lfs merge=binary -text lockable
*.locres filter=lfs diff=lfs merge=binary -text
*.locmeta filter=lfs diff=lfs merge=binary -text
# Binaries
*.exe filter=lfs diff=lfs merge=binary -text
*.dll filter=lfs diff=lfs merge=binary -text
*.dylib filter=lfs diff=lfs merge=binary -text
*.lib filter=lfs diff=lfs merge=binary -text
# Audio
*.bank filter=lfs diff=lfs merge=binary -text
*.wav filter=lfs diff=lfs merge=binary -text
*.mp3 filter=lfs diff=lfs merge=binary -text
*.ogg filter=lfs diff=lfs merge=binary -text
*.flac filter=lfs diff=lfs merge=binary -text
# Icons
*.png filter=lfs diff=lfs merge=binary -text
*.ico filter=lfs diff=lfs merge=binary -text
*.icns filter=lfs diff=lfs merge=binary -text
# Movies
*.webm filter=lfs diff=lfs merge=binary -text
*.mp4 filter=lfs diff=lfs merge=binary -text
*.wmv filter=lfs diff=lfs merge=binary -text